<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.apple.alfred.workflow.window_manager</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0AA55BB7-9F32-4DA6-8F55-DAD10CF532FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69CEBDAD-0632-4A61-9233-9F35F7E9F02C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0FB4C25D-DC38-42C7-8070-516CE4943789</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69CEBDAD-0632-4A61-9233-9F35F7E9F02C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3204E945-B6BF-4265-AAA8-C6C25741884E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEB61DAA-AC41-493F-9CA0-93678C6BCD3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3411AFF0-2041-4E95-B451-45847D3EFE3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9ED3B81-132C-4B76-AFED-DC01089EDD0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34BFA0E9-B1E3-4F31-B594-AAEED8A8299D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC6D5BAC-92B8-4ECE-A42D-FCED1768CBCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38151F7B-8008-4180-B4E4-9C5D423C5066</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E90EB173-3B7E-4C6C-B148-E83B370D1154</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>411DB4D7-6C73-4FA1-99A5-E2A2C8068D85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0BA191C-A3CE-4974-A263-B9979376FFEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F266713-42A1-460C-B59D-AA7839398302</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5D03267-BC05-4901-A995-FF97DC4788D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E6F5E3B-B9CB-449B-9724-E4E8B4F45CC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61F8EE82-4398-4234-8CC2-A79D378F0D91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69CEBDAD-0632-4A61-9233-9F35F7E9F02C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3411AFF0-2041-4E95-B451-45847D3EFE3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7903F372-2DC3-488B-9D7F-E575C0C1DFFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69CEBDAD-0632-4A61-9233-9F35F7E9F02C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AB06038-BFF3-4C09-87A1-2558A032D37A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69CEBDAD-0632-4A61-9233-9F35F7E9F02C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AE7B102-6F0E-4086-A929-4CBC0F8F230F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>951B4211-41AD-4138-967E-9C35F483E46F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FBAFD3E-D7E8-4F5E-B79C-08BAE6819634</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69CEBDAD-0632-4A61-9233-9F35F7E9F02C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>888A02A3-2C70-4D4A-A926-A4954E8E9BD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F266713-42A1-460C-B59D-AA7839398302</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>951B4211-41AD-4138-967E-9C35F483E46F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED2BA858-527C-44E5-9FF2-D9421C2F823C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC6D5BAC-92B8-4ECE-A42D-FCED1768CBCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B235D11-0F2E-4EE8-8F4E-53F2BADC8258</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B112413B-7E57-4B10-8450-284C42B5E36F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B269FAEA-BEC7-42B2-8575-605D0C2C09EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B269FAEA-BEC7-42B2-8575-605D0C2C09EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34BFA0E9-B1E3-4F31-B594-AAEED8A8299D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C57CE0D7-D6BB-49AC-83C0-7B26EF57644A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9985E7C-DCF8-4D3B-8FBC-0F7B70D3F973</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C76A989A-F196-41C9-BF7C-D85DE630794D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69CEBDAD-0632-4A61-9233-9F35F7E9F02C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0BA191C-A3CE-4974-A263-B9979376FFEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B112413B-7E57-4B10-8450-284C42B5E36F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2302F7A-7011-4B69-995F-29395ABE636E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0BA191C-A3CE-4974-A263-B9979376FFEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5D03267-BC05-4901-A995-FF97DC4788D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C57CE0D7-D6BB-49AC-83C0-7B26EF57644A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9985E7C-DCF8-4D3B-8FBC-0F7B70D3F973</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFAD3BF2-AB4B-4DA4-ADD9-3C68698ABA6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E71F89BE-1869-4DAF-BCDD-CA883A26CECF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69CEBDAD-0632-4A61-9233-9F35F7E9F02C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED2BA858-527C-44E5-9FF2-D9421C2F823C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26D6E144-607A-492B-9D56-EE7349D443B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9ED3B81-132C-4B76-AFED-DC01089EDD0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10499795-894B-44C4-9953-016F46E1135D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CDB9929D-6132-44B6-96BD-A3FBF2A5EAD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE582004-9AD4-40DD-AB0B-13BEABC1B505</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69CEBDAD-0632-4A61-9233-9F35F7E9F02C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Acidham</string>
	<key>description</key>
	<string>Move/Resize/Arrange Windows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Window Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>121</integer>
				<key>hotmod</key>
				<integer>8519680</integer>
				<key>hotstring</key>
				<string>⇟</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5E6F5E3B-B9CB-449B-9724-E4E8B4F45CC1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_screen</key>
					<string>next</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.screen.change</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>61F8EE82-4398-4234-8CC2-A79D378F0D91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_screen</key>
					<string>previous</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.screen.change</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>EEB61DAA-AC41-493F-9CA0-93678C6BCD3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>116</integer>
				<key>hotmod</key>
				<integer>8519680</integer>
				<key>hotstring</key>
				<string>⇞</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3204E945-B6BF-4265-AAA8-C6C25741884E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>bundle_id</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>4F266713-42A1-460C-B59D-AA7839398302</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C57CE0D7-D6BB-49AC-83C0-7B26EF57644A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>preset</key>
					<string>maximise</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds.set.preset</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>CFAD3BF2-AB4B-4DA4-ADD9-3C68698ABA6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>888A02A3-2C70-4D4A-A926-A4954E8E9BD5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

./save_dimensions.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D9985E7C-DCF8-4D3B-8FBC-0F7B70D3F973</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>app_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D5D03267-BC05-4901-A995-FF97DC4788D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>preset</key>
					<string>centre</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds.set.preset</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>E90EB173-3B7E-4C6C-B148-E83B370D1154</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>38151F7B-8008-4180-B4E4-9C5D423C5066</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>left</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>123</integer>
				<key>hotmod</key>
				<integer>11272192</integer>
				<key>hotstring</key>
				<string>←</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D2302F7A-7011-4B69-995F-29395ABE636E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

./window_pos.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC6D5BAC-92B8-4ECE-A42D-FCED1768CBCC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>height</key>
					<string>{var:height}</string>
					<key>width</key>
					<string>{var:width}</string>
					<key>x</key>
					<string>{var:x}</string>
					<key>y</key>
					<string>{var:y}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds.set.custom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>0B235D11-0F2E-4EE8-8F4E-53F2BADC8258</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>34BFA0E9-B1E3-4F31-B594-AAEED8A8299D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>bundle_id</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>B112413B-7E57-4B10-8450-284C42B5E36F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>app_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B269FAEA-BEC7-42B2-8575-605D0C2C09EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>direction</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D0BA191C-A3CE-4974-A263-B9979376FFEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>right</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>124</integer>
				<key>hotmod</key>
				<integer>11272192</integer>
				<key>hotstring</key>
				<string>→</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>411DB4D7-6C73-4FA1-99A5-E2A2C8068D85</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>bundle_id</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>951B4211-41AD-4138-967E-9C35F483E46F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

./get_dimensions.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED2BA858-527C-44E5-9FF2-D9421C2F823C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7AE7B102-6F0E-4086-A929-4CBC0F8F230F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>height</key>
					<string>{var:height}</string>
					<key>width</key>
					<string>{var:width}</string>
					<key>x</key>
					<string>{var:x}</string>
					<key>y</key>
					<string>{var:y}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds.set.custom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>26D6E144-607A-492B-9D56-EE7349D443B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>height</key>
					<string>{var:height}</string>
					<key>width</key>
					<string>{var:width}</string>
					<key>x</key>
					<string>{var:x}</string>
					<key>y</key>
					<string>{var:y}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds.set.custom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>10499795-894B-44C4-9953-016F46E1135D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>up_size</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FE582004-9AD4-40DD-AB0B-13BEABC1B505</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

./resize.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9ED3B81-132C-4B76-AFED-DC01089EDD0D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/window-management/windows.current.bounds</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>3411AFF0-2041-4E95-B451-45847D3EFE3E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>direction</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>69CEBDAD-0632-4A61-9233-9F35F7E9F02C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>CDB9929D-6132-44B6-96BD-A3FBF2A5EAD4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>down_size</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0FB4C25D-DC38-42C7-8070-516CE4943789</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>right_size</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C76A989A-F196-41C9-BF7C-D85DE630794D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>left_size</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0AA55BB7-9F32-4DA6-8F55-DAD10CF532FF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>left</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7903F372-2DC3-488B-9D7F-E575C0C1DFFE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>right</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7AB06038-BFF3-4C09-87A1-2558A032D37A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>up</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7FBAFD3E-D7E8-4F5E-B79C-08BAE6819634</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>down</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E71F89BE-1869-4DAF-BCDD-CA883A26CECF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Window Manager

## Requirements

* [Automation Tasks](https://www.alfredapp.com/help/workflows/automations/automation-task/)

## Usage

*  ⇧↓ : Move to next screen
*  ⇧↑ : Move to previous screen
*  ^⌥M : Maximize
*  ^⌥C : Center Window
*  ^⌥← : Window to the left screen
*  ^⌥→ : Window to the right screen
*  ⌃⌥R : Reset Window
*  ⇧⌥W : Scale up window
*  ⇧⌥S : Scale down window
*  ⇧⌥D : Scale up right side of the window
*  ⇧⌥A : Scale up left side of the window
*  ⌥ A : Move window left
*  ⌥ D : Move window right
*  ⌥ W : Move window up
*  ⌥ S : Move window down</string>
	<key>uidata</key>
	<dict>
		<key>0AA55BB7-9F32-4DA6-8F55-DAD10CF532FF</key>
		<dict>
			<key>note</key>
			<string>Scale up left side of the window</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>1695</real>
		</dict>
		<key>0B235D11-0F2E-4EE8-8F4E-53F2BADC8258</key>
		<dict>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>0FB4C25D-DC38-42C7-8070-516CE4943789</key>
		<dict>
			<key>note</key>
			<string>Scale down window</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>1385</real>
		</dict>
		<key>10499795-894B-44C4-9953-016F46E1135D</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>1245</real>
		</dict>
		<key>26D6E144-607A-492B-9D56-EE7349D443B4</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>3204E945-B6BF-4265-AAA8-C6C25741884E</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Move to previous screen</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>3411AFF0-2041-4E95-B451-45847D3EFE3E</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>1245</real>
		</dict>
		<key>34BFA0E9-B1E3-4F31-B594-AAEED8A8299D</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>38151F7B-8008-4180-B4E4-9C5D423C5066</key>
		<dict>
			<key>note</key>
			<string>Center Window</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>411DB4D7-6C73-4FA1-99A5-E2A2C8068D85</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Window to the right screen</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>4F266713-42A1-460C-B59D-AA7839398302</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>5E6F5E3B-B9CB-449B-9724-E4E8B4F45CC1</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Move to next screen</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>61F8EE82-4398-4234-8CC2-A79D378F0D91</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>69CEBDAD-0632-4A61-9233-9F35F7E9F02C</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>1275</real>
		</dict>
		<key>7903F372-2DC3-488B-9D7F-E575C0C1DFFE</key>
		<dict>
			<key>note</key>
			<string>Move window left</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>1845</real>
		</dict>
		<key>7AB06038-BFF3-4C09-87A1-2558A032D37A</key>
		<dict>
			<key>note</key>
			<string>Move window right</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>1980</real>
		</dict>
		<key>7AE7B102-6F0E-4086-A929-4CBC0F8F230F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Reset Window</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>7FBAFD3E-D7E8-4F5E-B79C-08BAE6819634</key>
		<dict>
			<key>note</key>
			<string>Move window up</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>2135</real>
		</dict>
		<key>888A02A3-2C70-4D4A-A926-A4954E8E9BD5</key>
		<dict>
			<key>note</key>
			<string>Maximize</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>951B4211-41AD-4138-967E-9C35F483E46F</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>AC6D5BAC-92B8-4ECE-A42D-FCED1768CBCC</key>
		<dict>
			<key>note</key>
			<string>Save dimensions</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>B112413B-7E57-4B10-8450-284C42B5E36F</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>B269FAEA-BEC7-42B2-8575-605D0C2C09EC</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>C57CE0D7-D6BB-49AC-83C0-7B26EF57644A</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>C76A989A-F196-41C9-BF7C-D85DE630794D</key>
		<dict>
			<key>note</key>
			<string>Scale up right side of the window</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>1540</real>
		</dict>
		<key>CDB9929D-6132-44B6-96BD-A3FBF2A5EAD4</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>1370</real>
		</dict>
		<key>CFAD3BF2-AB4B-4DA4-ADD9-3C68698ABA6E</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>D0BA191C-A3CE-4974-A263-B9979376FFEF</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>D2302F7A-7011-4B69-995F-29395ABE636E</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Window to the left screen</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>D5D03267-BC05-4901-A995-FF97DC4788D2</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>D9985E7C-DCF8-4D3B-8FBC-0F7B70D3F973</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>E71F89BE-1869-4DAF-BCDD-CA883A26CECF</key>
		<dict>
			<key>note</key>
			<string>Move window down</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>2255</real>
		</dict>
		<key>E90EB173-3B7E-4C6C-B148-E83B370D1154</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>ED2BA858-527C-44E5-9FF2-D9421C2F823C</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>EEB61DAA-AC41-493F-9CA0-93678C6BCD3B</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>F9ED3B81-132C-4B76-AFED-DC01089EDD0D</key>
		<dict>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>1245</real>
		</dict>
		<key>FE582004-9AD4-40DD-AB0B-13BEABC1B505</key>
		<dict>
			<key>note</key>
			<string>Scale up window</string>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>1245</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>0.1</string>
				<key>placeholder</key>
				<string>0.1</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Factor that will be applied when resizing window</string>
			<key>label</key>
			<string>Resizing factor</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>resize_factor</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>80</string>
				<key>placeholder</key>
				<string>80</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Pixels to move windows</string>
			<key>label</key>
			<string>Window move</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>move_steps</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/Acidham/alfred-window-manager</string>
</dict>
</plist>
